// heading consider as typography because its modify mostly includes styling font
.heading-primary {
	color: $color-white;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation-name: moveInLeft;
		animation-duration: 0.6s;
		animation-timing-function: ease-out;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 400;
		letter-spacing: 1.47rem;

		animation-name: moveInRight;
		animation-duration: 0.6s;
		animation-timing-function: ease-out;
	}
}

.heading-secondary {
	font-size: 3.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;

	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	background-clip: text;
	color: transparent;

	transition: all 0.2s;

	&:hover {
		transform: skewX(2deg) skewY(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
	}
}
