// this is partial sass file so it names started with _

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* change default font size without set to exact number */
	/* default: 16 => 10/16 x 100 = 62.5 */
	// this defines what 1rem is
	font-size: 62.5%;

	// @include respond-phone {
	// 	font-size: 50%;
	// }

	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}

	@include respond(big-desktop) {
		font-size: 75%;
	}
}

body {
	padding: 3rem;

	box-sizing: border-box;

	@include respond(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}
